{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Preguntas y Respuestas Frecuentes - Agrovenca</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/answers_questions.css' %}">
{% endblock %}

{% block container %}
    <div class="content">
        <header class="header">
            <figure class="banner">
                <img src="{% static 'users/imagenes/Agro_Tienda/faqs-c.jpg' %}" class="img-c w-100 h-100" alt="">
                <img src="{% static 'users/imagenes/Agro_Tienda/faqs-t.jpg' %}" class="img-t w-100 h-100" alt="">
                <figcaption class="banner-text">
                    <h1 class="title fw-bold">Preguntas Frecuentes</h1>
                </figcaption>
            </figure>
        </header>

        <div class="container">
            <div class="questions-container">
                <div class="question">
                    <h2 class="question-title title">¿Cuál es el precio de sus productos?</h2>
                    <p class="question-text text text-muted">
                        Nuestros precios están marcados en nuestras páginas de productos agrovenca.com,
                        Los precios en Bs.D variarán dependiendo del precio diario del dólar (Banco Central de Venezuela).
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Cuáles son sus métodos de pago?</h2>
                    <p class="question-text text text-muted">
                        Actualmente aceptamos pagos a través de transferencias Zelle en Dólares,  Depósitos en Dólares a cuenta en divisas del Banco de Venezuela,
                        así como también transferencias en Bolívar Digital a través del Banco de Venezuela y/o Pago Móvil.
                        Al realizar la transferencia debes enviarnos el comprobante de pago a través de
                        <a href="https://api.whatsapp.com/send?phone=584122647923" target="_blank" class="text-decoration-none text-success fw-bold">WhatsApp</a>.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿En cuánto sale el envío?</h2>
                    <p class="question-text text text-muted">
                        Los envíos a nivel Nacional se hacen a través de MRW. Si realizas una comprar igual o mayor a 2$
                        el envío te saldrá totalmente GRATIS. Los tiempos de entrega toman de 2 a 3 días hábiles para
                        llegar a su destino y van perfectamente empacados.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Hacen devoluciones?</h2>
                    <p class="question-text text text-muted">
                        Si por nuestra parte se encontrara un defecto o se determinara que el producto no se corresponde
                        con su pedido, estaremos encantados de recibir el producto, únicamente si es reportado
                        en un plazo de 14 días naturales luego de la entrega.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Realizan envíos al exterior? </h2>
                    <p class="question-text text text-muted">
                        Por los momentos no estamos realizando Envíos Internacionales.
                        Mantente actualizado con nosotros a través de nuestras redes para
                        enterarte cuando reactivamos en servicio.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Tienen garantía?</h2>
                    <p class="question-text text text-muted">
                        Nuestros productos tienen garantía de 3 meses por fallas de fabricación o defectos de calidad,
                        en cuyo caso nos hacemos responsables para la reparación o sustitución del producto en cuestión.
                        Los 3 meses serán contados a partir de la fecha en que compra el producto.
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}