{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Preguntas y Respuestas Frecuentes - Agrovenca</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/answers_questions.css' %}">
{% endblock %}

{% block container %}
    <div class="content">
        <header class="header">
            <figure class="banner">
                <figcaption class="banner-text">
                    <h1 class="title fw-bold">Preguntas Frecuentes</h1>
                </figcaption>
            </figure>
        </header>

        <div class="container">
            <div class="questions-container">
                <div class="question">
                    <h2 class="question-title title">¿Cuál es el precio de sus productos?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Qué modelos tienen disponibles?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Cuáles son sus métodos de pago?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿En cuánto sale el envío?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Hacen devoluciones?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Realizan envíos al exterior? </h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Las botas son a prueba de agua? </h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Con qué materiales trabajan?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Tienen garantía?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Hacen botas personalizadas?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>

                <div class="question">
                    <h2 class="question-title title">¿Hacen reparaciones?</h2>
                    <p class="question-text text text-muted">
                        El proyecto es una aplicación web que permite a los usuarios registrados
                        de la plataforma de compra y venta de productos, poder realizar
                        una compra o venta de productos.
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}