{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
    <title>Nosotros</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/contactos.css' %}">
{% endblock %}

{% block container %}
    <div class="content">
        <header class="header">
            <figure class="banner">
                <figcaption class="banner-text">
                    <h1 class="title fw-bold">Contactanos</h1>
                </figcaption>
            </figure>
        </header>

        <div class="container-fluid box_contact">
            <div class="content_contact bg-white">
                <div class="contact_description">
                    <h3 class="title fw-bold">Cuando tu Quieras</h3>
                    <smail class="text-muted">Estamos atentos 24/7</smail>
                    <p class="number"><a href="https://api.whatsapp.com/send?phone=584122647923" target="_blank"><span class="icon-whatsapp"></span> +58 412-2647923</a></p>
                    <p class="text"><a href="https://www.instagram.com/carnetoday/"><span class="icon-instagram"></span> Carnetoday Venezuela</a></p>
                    <p class="text"><a href="https://www.facebook.com/CarneToday"><span class="icon-facebook"></span> CarneToday</a></p>
                    <p class="text"><a href="mailto:junior31064049@gmail.com"><span class="icon-gmail"></span> Junior31064049@gmail.com</a></p>
                </div>
                <div class="form_contact">
                    <h3 class="title fw-bold ms-3 mb-5">¿Alguna Pregunta?, Escríbenos</h3>
                    <small class="text-muted d-inline-bock ms-5">Los campos con <span class="fw-bold">*</span> son obligatorios</small>
                    <form action="{% url 'send_email_contact' %}" method="post" enctype="multipart/form-data" class="w-75 ms-5" id="contactform">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <hr>
                        <div class="actions d-flex justify-content-between mt-3 px-3 gap-2">
                            <button type="reset" class="btn btn-outline-danger rounded-0"><i class="fas fa-exclamation-triangle"></i> Limpiar Campos</button>
                            <button type="submit" class="btn btn-primary rounded-0">Enviar Mensaje <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}

{% endblock %}

