{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Nosotros - Agrovenca</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/about_us.css' %}">
{% endblock %}

{% block container %}
    <div class="content">
        <header class="header">
            <figure class="banner">
                <figcaption class="banner-text">
                    <h1 class="title fw-bold">Nosotros</h1>
                </figcaption>
            </figure>
        </header>

        <div class="container-fluid who_we_are">
            <div class="us bg-white">
                <div class="us_description">
                    <h3 class="title fw-bold">¿Quienes Somos?</h3>
                    <p class="text">Agroalimentos Venezuela, es una compañía anónima constituida en el año 2018, en la ciudad de
                        Quibor, municipio Jiménez, estado Lara, Venezuela. Nuestra razón de ser es impulsar la producción agrícola y
                        pecuaria de nuestro país, por medio de métodos y técnicas innovadoras y a su vez establecer la importación de suministros
                        agropecuarios basados en una relación comercial directa con los fabricantes,
                        todo lo anterior con el fin de satisfacer las necesidades y expectativas del comercio venezolano.</p>
                </div>
                <div class="us_imagen"></div>
            </div>
            <div class="us-2 bg-white">
                <div class="us2_imagen"></div>
                <div class="us2-description">
                    <h3 class="title fw-bold">Nuestro Propósito</h3>
                    <p class="text">Nuestra trayectoria se caracteriza por ser una empresa competitiva y líder en el mercado agro-productivo, la excelencia de nuestros productos y procesos dan garantías, herramientas y soluciones ajustadas a las necesidades y alcances de nuestros clientes, siempre con el firme propósito de potenciar el crecimiento sostenido y la rentabilidad justa de su negocio.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid follow_us position-relative">
            <div class="content-follow-us position-absolute">
                <h3 class=title>Siguenos</h3>
                <div class="socials">
                    <a href="https://api.whatsapp.com/send?phone=584122656008" class="text-reset text-decoration-none">
                        <span class="icon-whatsapp"></span>
                    </a>

                    <a href="https://www.instagram.com/carnetoday/" class="text-reset text-decoration-none">
                        <span class="icon-instagram"></span>
                    </a>

                    <a href="https://t.me/+584122647923" class="text-reset text-decoration-none">
                        <span class="icon-telegram"></span>
                    </a>

                    <a href="mailto:junior31064049@gmail.com" class="text-reset text-decoration-none">
                        <span class="icon-gmail"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
