@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.number {
    font-family: 'Nunito', sans-serif;
}

.title {
    font-family: 'Open Sans', sans-serif;
}

.text {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f7f9 !important;
    scroll-behavior: smooth;
}

.btn-whatsapp {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    border: 1px solid #4dc247 !important;
    background-color: #FFFFFF !important;
    animation-name: salt-button;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes salt-button {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cart-button::after {
    display: none !important;
}

.img_product_cart_menu {
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
}

.remove_product_cart {
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    margin: 0 !important;
    border: 1px solid #006b1b;
    border-radius: 50%;
    height: fit-content;
    transition: all 0.3s ease-in-out;
}

.icon-x {
    transition: all 0.3s ease-in-out;
}

.remove_product_cart:hover {
    background-color: #006b1b;
    color: #FFFFFF;
}

.remove_product_cart:hover .icon-x::before {
    color: #FFFFFF;
}

.icons-socials {
    position: fixed;
    right: 0.5rem;
    top: 20%;
    display: flex;
    z-index: 9999;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem !important;
    border-radius: 10px;
}

footer {
    background-color: #FFFFFF;
    padding: 3rem 3rem;
}

footer .content-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

footer .content-footer .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

footer .content-footer .menu .section-navigation ul li,
footer .content-footer .menu .section-categories ul li,
footer .content-footer .menu .section-contact ul li {
    list-style: none;
    margin-right: 1rem;
}

footer .content-footer .copytight {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding-top: 1rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        display: flex !important;
        align-items: start !important;
        justify-content: space-between !important;
        font-size: 1.8rem !important;
        padding-top: 0.5rem !important;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .header .navbar-1 p{
        font-size: 1.8rem !important;
    }

    .header .navbar-2 .container-fluid .navbar-brand,
    .header .navbar-2 .container-fluid > .navbar-toggler .navbar-toggler-icon,
    .navbar-text .btn-group .cart-button .fa-shopping-cart,
    .navbar-text .btn-group .menu-cart {
        font-size: 2rem !important;
    }

    .super-container {
        font-size: 1.8rem !important;
    }

    .container {
        max-width: 930px !important;
    }

    .footer,
    .footer .content-footer .menu .section-contact ul li a {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 580px) {
    .navbar-2 .offcanvas .offcanvas-body .navbar-nav .nav-item {
        font-size: 1.8rem !important;
    }
}

@media screen and (max-width: 300px) {
    footer .content-footer .menu .section-navigation ul,
    footer .content-footer .menu .section-categories ul,
    footer .content-footer .menu .section-contact ul {
        margin: 0 !important;
        padding: 0 !important;
    }
}
