.carrousel-container {
    overflow: hidden;
}

.container .icons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container .icons .truck,
.container .icons .pay,
.container .icons .number1,
.container .icons .help a {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container .icons .truck .description h2,
.container .icons .pay .description h2,
.container .icons .number1 .description h2,
.container .icons .help .description h2 {
    font-size: 18px;
    font-weight: bold;
}

.container .icons .truck .description p,
.container .icons .pay .description p,
.container .icons .number1 .description p,
.container .icons .help .description p {
    font-size: 14px;
}

.container .icons .truck svg path {
    font-size: 1rem;
    font-style: italic;
}

.container .icons .pay .icon-credit-card::before,
.container .icons .help .icon-headphones::before {
    font-size: 2rem;
    color: #04b547;
}

.content-recommended-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.card {
    border: none !important;
    transition: all ease-in-out 0.3s;
}

.card:hover {
    box-shadow: 0 5px 15px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top,
.info-img .img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all ease-in-out 0.3s;
    margin: 0;
}

.info-img .img {
    height: 500px;
    background-attachment: fixed;
}

.info-img {
    position: relative;
}

.info-img .description-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8rem 3rem;
    color: #FFFFFF;
}

.container .recommended_categories .content .category {
    transition: all ease-in-out 0.3s;
    width: 100%;
    height: 100%;
}

.container .recommended_categories .content .category:hover {
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.5);
}

.container .recommended_categories .content .category .img-category {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.container .recommended_categories .content .category .name-category {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    color: #FFFFFF;
    font-weight: bold;
    transition: all ease-in-out 0.3s;
}

.container .recommended_categories .content .category:hover .name-category {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 991px) {
    .partners .content .logo_partner {
        width: 100px;
    }
}

@media screen and (max-width: 570px) {

}
