.carrousel-container {
    overflow: hidden;
}

.container .icons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container .icons .truck,
.container .icons .pay,
.container .icons .number1,
.container .icons .help a {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container .icons .truck .description h2,
.container .icons .pay .description h2,
.container .icons .number1 .description h2,
.container .icons .help .description h2 {
    font-size: 18px;
    font-weight: bold;
}

.container .icons .truck .description p,
.container .icons .pay .description p,
.container .icons .number1 .description p,
.container .icons .help .description p {
    font-size: 14px;
}

.container .icons .truck svg path {
    font-size: 1rem;
    font-style: italic;
}

.container .icons .pay .icon-credit-card::before,
.container .icons .help .icon-headphones::before {
    font-size: 2rem;
    color: #04b547;
}

.container .recommended-products {
    margin-bottom: 10rem !important;
}

.partners .content {
    display: flex;
    justify-content: space-evenly;
}

.partners .content .logo_partner {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: scale-down;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.partners .content .logo_partner:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
}

.content-recommended-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.card {
    border: none !important;
    transition: all ease-in-out 0.3s;
}

.card:hover {
    box-shadow: 0 5px 15px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top,
.info-img .img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all ease-in-out 0.3s;
    margin: 0;
}

.info-img .img {
    height: 500px;
    background-attachment: fixed;
}
/*
.card-body {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
    height: 100%;
    width: 100%;
}

.card:hover .card-img-top {
    filter: blur(5px);
}

.card:hover .card-body {
    opacity: 1;
    color: #FFFFFF;
}
*/
.info-img {
    position: relative;
}

.info-img .description-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 150, 0.2);
    padding: 8rem 3rem;
    color: #FFFFFF;
}


@media screen and (max-width: 991px) {
    .partners .content .logo_partner {
        width: 100px;
    }
}

@media screen and (max-width: 570px) {
    .partners .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        gap: 3rem;
    }

    .partners .content .logo_partner {
        width: 90%;
        margin-bottom: 1rem;
        border: 1px solid #e5e5e5;
        margin-inline: auto;
    }

    .partners .content a {
        display: flex;
    }

    .partners .content .logo_partner:hover {
        transform: scale(1.1);
        box-shadow: none;
    }
}
