{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>CheckOut Chequea Y Pide | AGROVENCA™</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'productos/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'productos/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'users/Iconos/style.css' %}">
    <link rel="stylesheet" href="{% static 'productos/css/pago.css' %}">
{% endblock %}

{% block container %}

    <div class="container my-5">
        {% block form_data %}
            <div class="data">
                <p>
                    <a class="text-decoration-none text-dark fs-1 w-100 d-inline-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <span class="number">1</span> Datos de Envío
                    </a>
                </p>
                <div class="collapse show" id="collapseExample">
                    <div class="card card-body">
                        <form action="{% url 'checkout' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="formGroupExampleInput" class="form-label title">Nombre</label>
                                    <input type="text" class="form-control text" placeholder="Nombre" aria-label="name" name="name" required>
                                </div>
                                <div class="col">
                                    <label for="formGroupExampleInput" class="form-label title">Apellido</label>
                                    <input type="text" class="form-control text" placeholder="Apellido" aria-label="Last-name" name="last_name" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label title">Correo electrónico</label>
                                <input type="email" class="form-control text" id="formGroupExampleInput" placeholder="JohnDoe123@gmail.com" name="email" required>
                            </div>

                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label title">Teléfono</label>
                                <input type="number" class="form-control number" id="formGroupExampleInput" placeholder="0000 0000000" name="phone" required>
                            </div>

                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label title">Dirección del domicilio</label>
                                <input type="text" class="form-control text" id="formGroupExampleInput" placeholder="Urbanización ** Calle 00 con Avenida 00" name="address" required>
                            </div>

                            <div class="row g-3 mb-3">
                                <label for="address_mrw" class="form-label title">Dirección de la oficina MRW</label>
                                <div class="mt-0">
                                    <input type="text" class="form-control text" id="address_mrw" placeholder="" name="address_mrw" required>
                                </div>
                                <div class="col">
                                    <label for="inputState" class="form-label title">Estado</label>
                                    <select id="inputState" name="state" required class="form-select text">
                                        <option selected>Lara</option>
                                        <option>Amazonas</option>
                                        <option>Anzoátegui</option>
                                        <option>Apure</option>
                                        <option>Aragua</option>
                                        <option>Barinas</option>
                                        <option>Bolívar</option>
                                        <option>Carabobo</option>
                                        <option>Cojedes</option>
                                        <option>Delta Amacuro</option>
                                        <option>Distrito Capital</option>
                                        <option>Falcón</option>
                                        <option>Guárico</option>
                                        <option>Mérida</option>
                                        <option>Miranda</option>
                                        <option>Monagas</option>
                                        <option>Nueva Esparta</option>
                                        <option>Portuguesa</option>
                                        <option>Sucre</option>
                                        <option>Táchira</option>
                                        <option>Trujillo</option>
                                        <option>Vargas</option>
                                        <option>Yaracuy</option>
                                        <option>Zulia</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="city" class="form-label title">Ciudad</label>
                                    <input type="text" class="form-control text" id="city" placeholder="Barquisimeto" aria-label="city" name="city" required>
                                </div>
                                <div class="col">
                                    <label for="country" class="form-label title">País</label>
                                    <input type="text" id="country" class="form-control text" value="Venezuela" placeholder="Venezuela" aria-label="country" name="country" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label title">Documento de Identidad</label>
                                <input type="number" class="form-control number" id="formGroupExampleInput" placeholder="" name="dni" required>
                            </div>

                            <div class="actions d-flex justify-content-between gap-3">
                                <button class="btn btn-success rounded-0 px-5 py-2" type="submit">Siguiente</button>
                                <button class="btn btn-outline-danger rounded-0 px-5 py-2" type="reset">Limpiar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="total_cart bg-white p-5" style="position: sticky; top: 5rem">
            <h3 class="title fw-bold text-center">Tu Orden</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for producto in cart_prd %}
                        <tr>
                            <th scope="row" class="title"><figure class="m-0 align-middle img_product_cart" style="background-image: url({{ producto.imagen }}); width: 3rem; height: 3rem"></figure></th>
                            <th scope="row" class="title align-middle">{{ producto.nombre }}</th>
                            <td class="text-muted number align-middle">{{ producto.cantidad }} x $ {{ producto.precio }} = $ {{ producto.monto_total }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <th scope="row" class="title">Subtotal</th>
                        <td class="center-y number">$ {{ cart.get_subtotal }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <th scope="row" class="title">Total</th>
                        <td class="center-y number">$ {{ cart.get_total_iva }}</td>
                    </tr>
                </tbody>
            </table>

            {% include 'productos/icons.html' %}

        </div>
    </div>
{% endblock %}
