{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>{{ producto.nombre }}</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'productos/css/detail_producto.css' %}">
{% endblock %}

{% block container %}
    <div class="container" style="min-height: 100vh">
        <div class="content-product">
            <div class="img_product">
                <figure style="background-image: url({{ producto.imagen.url }})"></figure>
            </div>
            <div class="product_info">
                <a href="{{ producto.get_absolute_url }}" class="text-muted text text-decoration-none">{{ producto.get_absolute_url }}</a>
                <h1 class="title mt-3">{{ producto.nombre }}</h1>
                <p class="precio number mt-3">$ {{ producto.precio | intcomma }}</p>
                <p class="description text">{{ producto.descripcion }}</p>
                <p class="cantidad number"><span class="text-primary">{{ producto.cantidad }}</span> <span class="text">En stock</span></p>
                <p class="category text">Categoría: <span class="fw-bold">{{ producto.categoria.nombre }}</span></p>
                <hr>
                <div class="cart-form">
                    <form action="{% url 'add_to_cart' producto.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="number" class="form-control" value="1" name="cantidad" style="width: min-content; display: inline-block">
                        <button type="submit" class="btn btn-primary btn-add-cart">Agregar al carrito</button>
                    </form>
                    <a href="https://wa.me/584129032865/?text=Hola, me puede dar información de este producto {{ producto.get_absolute_url }} Producto: {{ producto.nombre }}" class="btn btn-success mt-5">Preguntar en WhatsApp <span class="icon-whatsapp"></span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
