{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>{{ producto.nombre }} - Agrovenca</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'productos/css/detail_producto.css' %}">
    <link rel="stylesheet" href="{% static 'users/Componentes/Iconos/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/Componentes/Carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/Componentes/Carousel/owl.carousel.min.css' %}">
{% endblock %}

{% block container %}
    <div class="container" style="min-height: 100vh">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'productos' %}">Productos</a></li>
                <li class="breadcrumb-item active">#{{ producto.id }} {{ producto.nombre | title }}</li>
            </ol>
        </nav>
        <div class="content-product">
            <div class="img_product position-relative">
                <div class="owl-container">
                    <div class="owl-carousel owl-theme">
                        <div class="owl-carousel owl-theme">
                            {% for img in producto.imagenes.all %}
                                <div class="item h-100">
                                    <img src="{{ img.imagen.url }}" alt="" class="h-100" style="object-fit: cover" loading="lazy">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p class="legend position-absolute top-0 px-3 py-2 text-white fw-bold" style="background-color: #31b771; z-index: 999; font-size: 12px">ENVÍO GRATIS</p>
                {% if producto.cantidad == 0 %}
                    <p class="legend position-absolute px-5 py-2 text-white fw-bold" style="background-color: rgba(255, 255, 255, 0.5); z-index: 999; font-size: 12px; top: 45%; left: 38%;">AGOTADO</p>
                {% endif %}
                {% if producto.imagenes.all.count > 1 %}
                    <p class="text-muted text text-center">Desliza para ver la siguiente imágen</p>
                {% endif %}
                <div class="content-images d-flex gap-3 justify-content-center mt-3 align-items-center">
                    {% for img in producto.imagenes.all %}
                        <figure style="width: 4rem; height: 4rem; background-image: url({{ img.imagen.url }}); border-radius: 50%; background-position: center; background-size: cover; margin: 0"></figure>
                        <span class="icon-arrow-right2"></span>
                    {% endfor %}
                </div>
            </div>
            <div class="product_info">
                <h1 class="title mt-3 fw-bold">{{ producto.nombre }}</h1>
                <hr>
                <div class="legend d-flex gap-1 mb-2">
                </div>

                <ul class="mb-3 mt-3 options-price list-unstyled d-flex justify-content-between">
                    <li class="item">
                        <button class="btn btn-outline-primary position-relative">
                            1 - 49 u
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">$ {{ producto.get_descuento1 }} <span class="visually-hidden">unread messages</span></span>
                        </button>
                    </li>
                    <li class="item">
                        <button class="btn btn-outline-primary position-relative">
                            50 - 99 u
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">$ {{ producto.get_descuento2 }} <span class="visually-hidden">unread messages</span></span>
                        </button>
                    </li>
                    <li class="item">
                        <button class="btn btn-outline-primary position-relative">
                            +100 u
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">$ {{ producto.get_descuento3 }} <span class="visually-hidden">unread messages</span></span>
                        </button>
                    </li>
                </ul>
                <p class="cantidad number fs-6 m-0 fw-bold">{{ producto.cantidad | intcomma }} <span class="text-success">disponibles</span></p>
                <div class="cart-form d-flex align-items-baseline gap-3 mt-3">
                    <form action="{% url 'add_to_cart' producto.id %}" method="post" enctype="multipart/form-data" class="d-flex justify-content-between gap-3">
                        {% csrf_token %}
                        {% if producto.cantidad <= 0 %}
                            <input type="number" class="form-control" disabled value="1" max="{{ producto.cantidad }}" name="cantidad" style="width: 6rem; display: inline-block"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="No hay unidades en stock!">
                            <button type="submit" class="btn btn-primary btn-add-cart rounded-0" disabled>Agregar al carrito</button>
                        {% else %}
                            <input type="number" class="form-control" value="1" max="{{ producto.cantidad }}" name="cantidad" style="width: 6rem; display: inline-block"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Introduce la cantidad que quieras">
                            <button type="submit" class="btn btn-primary btn-add-cart rounded-0"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Buena elección, compra rápido y seguro">Agregar al carrito</button>
                        {% endif %}
                    </form>
                    <a href="https://wa.me/584122647923/?text=Hola, me puede dar información de este producto {{ producto.get_absolute_url }} Producto: {{ producto.nombre }}" class="btn rounded-0 text-white fw-bold" target="_blank" style="background-color: #24bb5d;"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Preguntanos lo que quieras acerca de este producto.">
                        WhatsApp
                    </a>
                </div>
                <hr class="my-3">
                <div class="icons-prd d-flex gap-3 justify-content-start">
                    <div class="truck d-flex flex-column align-items-center gap-1">
                        <img src="{% static 'users/Iconos/truck-fast-solid.svg' %}" alt="" style="width: 2.5rem; height: 2.5rem" loading="lazy">
                        <div class="description text-center">
                            <p class="text m-0 text-muted" style="font-size: 0.68rem">Envíos Gratis</p>
                            <p class="text m-0 text-muted" style="font-size: 0.68rem">a nivel nacional</p>
                        </div>
                    </div>

                    <div class="pay d-flex flex-column align-items-center gap-1">
                        <span class="icon-credit-card"></span>
                        <div class="description text-center">
                            <p class="text m-0 text-muted" style="font-size: 0.68rem">Pago Rápido</p>
                            <p class="text m-0 text-muted" style="font-size: 0.68rem">Pago 100% seguro</p>
                        </div>
                    </div>

                    <div class="number1 d-flex flex-column align-items-center gap-1">
                        <img src="{% static 'users/Iconos/ranking-star-solid.svg' %}" alt="" style="width: 2.5rem; height: 2.5rem" loading="lazy">
                        <div class="description text-center">
                            <p class="text m-0 text-muted" style="font-size: 0.68rem">Mejores Productos</p>
                            <p class="text m-0 text-muted" style="font-size: 0.68rem">de primera calidad.</p>
                        </div>
                    </div>

                    <div class="help">
                        <a href="https://api.whatsapp.com/send?phone=584122647923" class="text-reset text-decoration-none d-flex flex-column align-items-center gap-1" target="_blank">
                            <span class="icon-headphones"></span>
                            <div class="description text-center">
                                <p class="text m-0 text-muted" style="font-size: 0.68rem">Contactanos</p>
                                <p class="text m-0 text-muted" style="font-size: 0.68rem">+58 412-2647 923</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-product mt-5 bg-white p-5">
            <h3 class="title fw-bold">Descripción</h3>
            <p class="text">{{ producto.descripcion }}</p>
        </div>

        <div class="recommended-products my-5">
            {% if recommended_products %}
                <h3 class="title text-center fw-bold">MÁS PRODUCTOS PARA TI</h3>
                <div class="content d-flex gap-3 flex-wrap">
                    {% for recommended_product in recommended_products %}
                        <a href="{% url 'detail_producto' recommended_product.id %}" class="text-decoration-none text-reset" style="width: 25%;">
                            <div class="product-{{ recommended_product.id }}">
                                <div class="card position-relative">
                                    {% if recommended_product.imagenes %}
                                        <img src="{{ recommended_product.imagenes.first.imagen.url }}" class="card-img-top" alt="..." loading="lazy">
                                    {% endif %}
                                    <p class="legend position-absolute px-3 py-2 text-white fw-bold" style="background-color: #31b771; z-index: 999; font-size: 12px">ENVÍO GRATIS</p>
                                    {% if recommended_product.cantidad == 0 %}
                                        <p class="legend position-absolute px-5 py-2 text-white fw-bold" style="background-color: rgba(255, 255, 255, 0.5); z-index: 999; font-size: 12px; top: 30%; left: 25%">AGOTADO</p>
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="number">$ {{ recommended_product.get_descuento3 }}</p>
                                        <h5 class="card-title fw-bold">{{ recommended_product.nombre | title }}</h5>
                                        <p class="card-text">{{ recommended_product.get_short_desc }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'users/Componentes/Carousel/jquery.min.js' %}"></script>
    <script src="{% static 'users/Componentes/Carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'productos/js/main.js' %}"></script>
{% endblock %}
