{% load static %}
<section class="icons mt-5 gap-3">
                <div class="truck w-25">
                    <img src="{% static 'users/Iconos/truck-fast-solid.svg' %}" alt="" style="width: 2rem; height: 2rem">
                    <div class="description">
                        <h2 class="title m-0">Envíos Gratis</h2>
                        <p class="text m-0 text-muted">a nivel nacional</p>
                    </div>
                </div>
                <div class="pay w-25">
                    <span class="icon-credit-card"></span>
                    <div class="description">
                        <h2 class="title m-0">Pago Rápido</h2>
                        <p class="text m-0 text-muted">Pago 100% seguro</p>
                    </div>
                </div>
                <div class="number1 w-25">
                    <img src="{% static 'users/Iconos/ranking-star-solid.svg' %}" alt="" style="width: 2rem; height: 2rem">
                    <div class="description">
                        <h2 class="title m-0">Mejores Productos</h2>
                        <p class="text m-0 text-muted">de primera calidad.</p>
                    </div>
                </div>
                <div class="help w-25">
                    <a href="https://api.whatsapp.com/send?phone=584122647923" class="text-reset text-decoration-none" target="_blank">
                        <span class="icon-headphones"></span>
                        <div class="description">
                            <h2 class="title m-0">¿Dudas?</h2>
                            <p class="text m-0 text-muted">Nosotros te ayudamos</p>
                            <p class="text m-0 text-muted">+58 412-2647 923</p>
                        </div>
                    </a>
                </div>
            </section>