{% extends 'productos/checkout.html' %}
{% load static %}

{% block title %}
    <title>Método de Envío | AGROVENCA™</title>
{% endblock %}

{% block container %}

    <div class="container my-5" style="min-height: 100vh;">
        {% if datos_envio %}
            <div class="datos_envio">
                <div class="card bg-transparent border-0">
                    <h1 class="title card-title d-flex justify-content-between">
                        <span class="header-title">
                            <span class="text-success icon-checkmark"></span>
                            Datos de Envío
                        </span>
                        <span class="edit">
                            <a href="{% url 'checkout' %}" class="text-muted fs-6">Editar</a>
                        </span>
                    </h1>
                    <div class="card-body">
                        <p class="text-muted name text m-0">Nombre: {{ datos_envio.name }} {{ datos_envio.last_name }}</p>
                        <p class="text-muted email text m-0">Email: {{ datos_envio.email }}</p>
                        <p class="text-muted phone number m-0">Teléfono: {{ datos_envio.phone }}</p>
                        <p class="text-muted direccion text m-0">Dirección: {{ datos_envio.address }}</p>
                        <p class="text-muted direccion text m-0">Dirección de MRW: {{ datos_envio.address_mrw }}</p>
                        <p class="text-muted city text m-0">Estado: {{ datos_envio.state }}</p>
                        <p class="text-muted city text m-0">Ciudad: {{ datos_envio.city }}</p>
                        <p class="text-muted country text m-0">País: {{ datos_envio.country }}</p>
                        <p class="text-muted dni number m-0">Documento de Identificación: {{ datos_envio.dni }}</p>
                    </div>
                </div>
                {% block form_data %}
                    <p>
                        <a class="text-decoration-none text-dark fs-1 w-100 d-inline-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                            <span class="number">2</span> Método de Envío
                        </a>
                    </p>
                    <div class="collapse show" id="collapseExample">
                        <div class="card card-body">
                            <form action="{% url 'send_method' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3 mrw d-flex gap-3">
                                    <div class="input">
                                        <input type="radio" class="form-check-input" id="mrw" value="MRW" name="method">
                                    </div>
                                    <div class="description w-100">
                                        <label for="mrw" class="form-label">Servicios expresos MRW Venezuela</label>
                                        <div class="d-flex justify-content-between">
                                            <span class="time text-muted text">2 - 3 días hábiles </span>
                                            <figure class="logo_mrw m-0" style="width: 8rem; height: 2rem">
                                                <img src="{% static 'productos/images/logo_mrw.png' %}" alt="" style="object-fit: cover; width: 100%; height: 100%" class="logo" loading="lazy">
                                            </figure>
                                        </div>
                                        <span class="costo title fw-bold">GRATIS</span>
                                    </div>
                                </div>

                                <hr>

                                <div class="mb-3 tienda d-flex gap-3">
                                    <div class="input">
                                        <input type="radio" class="form-check-input" id="tienda" value="Retirar en Tienda Física" name="method">
                                    </div>
                                    <div class="description w-100">
                                        <label for="tienda" class="form-label">Retirar en Tienda Física</label>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="time text-muted text">Avenida 02 con Calle 12, Quíbor, <br> Lara, 3061, Venezuela</span>
                                            <div class="map m-0" style="width: 8rem; height: 6rem">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1211.5472908119973!2d-69.62042367077417!3d9.91958482061264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e7d811fb0e15ed5%3A0xb6b3897f68d223ee!2sAgroalimentos%20Venezuela%20C.A.!5e1!3m2!1ses-419!2sve!4v1658500299354!5m2!1ses-419!2sve" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="actions d-flex justify-content-between align-items-center mt-3">
                                    <button type="submit" class="btn btn-success px-5 py-2">Siguiente</button>
                                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary px-5 py-2">Anterior</a>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endblock %}
            </div>

            <div class="total_cart bg-white p-5" style="position: sticky; top: 5rem">
            <h3 class="title fw-bold text-center">Tu Orden</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <td></td>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for producto in cart_prd %}
                        <tr>
                            <th scope="row" class="title"><figure class="m-0 align-middle img_product_cart" style="background-image: url({{ producto.imagen }}); width: 3rem; height: 3rem"></figure></th>
                            <th scope="row" class="title align-middle">{{ producto.nombre_corto }}</th>
                            <td class="text-muted number align-middle">{{ producto.cantidad }} x $ {{ producto.precio }} = $ {{ producto.monto_total }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <th scope="row" class="title">Total</th>
                        <td class="center-y number">$ {{ cart.get_subtotal }}</td>
                    </tr>
                </tbody>
            </table>
            {% include 'productos/icons.html' %}
        </div>
        {% else %}
            <p class="message">
                No tienes Datos de envío <br><a href="{% url 'checkout' %}" class="btn btn-outline-primary"><span class="icon-arrow-left2"></span> Vuelve y Llenalos!</a>
            </p>
        {% endif %}

    </div>
{% endblock %}
