{% extends 'productos/checkout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Método de Pago</title>
{% endblock %}

{% block container %}
    <div class="container" style="min-height: 100vh;">
        {% if datos_envio and method %}
            <div class="datos_envio">
                <div class="card bg-transparent border-0">
                    <h1 class="title card-title"><span class="text-success icon-checkmark"></span> Datos de Envío</h1>
                    <div class="card-body">
                        <p class="text-muted name text m-0">Nombre: {{ datos_envio.name }} {{ datos_envio.last_name }}</p>
                        <p class="text-muted email text m-0">Email: {{ datos_envio.email }}</p>
                        <p class="text-muted phone number m-0">Teléfono: {{ datos_envio.phone }}</p>
                        <p class="text-muted direccion text m-0">Dirección: {{ datos_envio.address }}</p>
                        <p class="text-muted city text m-0">Ciudad: {{ datos_envio.city }}</p>
                        <p class="text-muted country text m-0">País: {{ datos_envio.country }}</p>
                        <p class="text-muted dni number m-0">Documentos de Identificación: {{ datos_envio.dni }}</p>
                    </div>
                </div>

                <div class="card bg-transparent border-0">
                    <h1 class="title card-title"><span class="text-success icon-checkmark"></span> Método de Envío</h1>
                    <div class="card-body">
                        <p class="text-muted name text m-0">Método: {{ method }}</p>
                    </div>
                </div>

                {% block form_data %}
                    <div class="card py-5 px-3">
                        <h1 class="card-title title"><span class="number">3</span> Métodos de Pago</h1>
                        <small class="text-muted text ms-3">Puedes realizar transferencias por cualquiera de las siguientes vías y enviarnos el comprobante por
                            <a href="https://api.whatsapp.com/send?phone=584122656008" class="text-reset"> WhatsApp.</a></small>
                        <p class="ms-3 text-muted">Transferencia Bancaria (USD $1 = Bs 5,50)</p>
                        <div class="card-body">

                            <p>
                                <a class="text-decoration-none text-reset fs-2 d-flex align-items-baseline justify-content-between" data-bs-toggle="collapse" href="#method-1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <span>Pago móvil</span> <small class="text-muted fs-5">(Click para ver datos)</small>
                                </a>
                            </p>
                            <div class="collapse" id="method-1">
                                <div class="method mb-3">
                                    <div class="description_method ps-3">
                                        <p class="number m-0"><span class="text">Cédula:</span> 00.000.000</p>
                                        <p class="number m-0"><span class="text">Teléfono:</span> 0412 903-2865</p>
                                        <p class="text m-0"><span class="text">Banco:</span> Provincial (0102)</p>
                                        <p class="text m-0"><span class="text">Beneficiario:</span> Michael Abraham Ruíz Azuaje</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <a class="text-decoration-none text-reset fs-2 d-flex align-items-baseline justify-content-between" data-bs-toggle="collapse" href="#method-2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <span>Tranferencia</span> <small class="text-muted fs-5">(Click para ver datos)</small>
                                </a>
                            </p>
                            <div class="collapse" id="method-2">
                                <div class="banco mb-3 ms-4">
                                    <h3 class="title fs-4">Provincial</h3>
                                    <div class="description_method ps-3">
                                        <p class="number m-0"><span class="text">Cédula:</span> 00.000.000</p>
                                        <p class="number m-0"><span class="text">Teléfono:</span> 0412 903-2865</p>
                                        <p class="text m-0"><span class="text">Banco:</span> Provincial (0102)</p>
                                        <p class="text m-0"><span class="text">Beneficiario:</span> Michael Abraham Ruíz Azuaje</p>
                                    </div>
                                </div>

                                <div class="banco mb-3 ms-4">
                                    <h3 class="title fs-4">Venezuela</h3>
                                    <div class="description_method ps-3">
                                        <p class="number m-0"><span class="text">Cédula:</span> 00.000.000</p>
                                        <p class="number m-0"><span class="text">Teléfono:</span> 0412 903-2865</p>
                                        <p class="text m-0"><span class="text">Banco:</span> Venezuela (0102)</p>
                                        <p class="text m-0"><span class="text">Beneficiario:</span> Michael Abraham Ruíz Azuaje</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <a class="text-decoration-none text-reset fs-2 d-flex align-items-baseline justify-content-between" data-bs-toggle="collapse" href="#method-3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <span>Zelle</span> <small class="text-muted fs-5">(Click para ver datos)</small>
                                </a>
                            </p>
                            <div class="collapse" id="method-3">
                                <div class="method mb-3">
                                    <div class="description_method ps-3">
                                        <p class="number m-0"><span class="text">Cédula:</span> 00.000.000</p>
                                        <p class="number m-0"><span class="text">Teléfono:</span> 0412 903-2865</p>
                                        <p class="text m-0"><span class="text">Banco:</span> Provincial (0102)</p>
                                        <p class="text m-0"><span class="text">Beneficiario:</span> Michael Abraham Ruíz Azuaje</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <a class="text-decoration-none text-reset fs-2 d-flex align-items-baseline justify-content-between" data-bs-toggle="collapse" href="#method-4" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <span>PayPal</span> <small class="text-muted fs-5">(Click para ver datos)</small>
                                </a>
                            </p>
                            <div class="collapse" id="method-4">
                                <div class="method mb-3">
                                    <div class="description_method ps-3">
                                        <p class="number m-0"><span class="text">Cédula:</span> 00.000.000</p>
                                        <p class="number m-0"><span class="text">Teléfono:</span> 0412 903-2865</p>
                                        <p class="text m-0"><span class="text">Banco:</span> Provincial (0102)</p>
                                        <p class="text m-0"><span class="text">Beneficiario:</span> Michael Abraham Ruíz Azuaje</p>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-warning" role="alert">
                                <strong>Advertencia: </strong>Para obtener tus productos debes: <br>
                                <ul>
                                    <li>Enviar captura de tu pago a nuestro
                                    <a href="https://api.whatsapp.com/send?phone=584122656008" class="text-reset fw-bold"> WhatsApp: +58 412-265 6008</a></li>
                                    <li>Proporcionar el Código de compra por <a href="https://api.whatsapp.com/send?phone=584122656008" class="text-reset fw-bold"> WhatsApp: +58 412-265 6008</a></li>
                                </ul>
                                El incumplimiento de estos pasos puede causar la <strong>cancelación</strong> de tu pedido.
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>

            <div class="total_cart bg-white p-5" style="position: sticky; top: 0">
            <h3 class="title fw-bold text-center">Tu Orden</h3>
            <p class="text">Código de compra: <span class="number fw-bold fs-4">{{ codigo_transaccion }}</span></p>
            <p class="text">Fecha: <span class="number">{{ fecha }}</span></p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for producto in cart_prd %}
                        <tr>
                            <th scope="row" class="title">{{ producto.nombre }} </th>
                            <td class="text-muted number">{{ producto.cantidad }} x $ {{ producto.precio }} = $ {{ producto.monto_total }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row" class="title">Subtotal</th>
                        <td class="center-y number">$ {{ cart.get_subtotal }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="title">I.V.A.</th>
                        <td class="center-y number">$ {{ cart.get_iva }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="title">Total</th>
                        <td class="center-y number">$ {{ cart.get_total_iva }}</td>
                    </tr>
                </tbody>
            </table>
            <p class="text text-muted mb-3">
                Este comprobante será enviado al correo ingresado en la dirección de envío <strong>{{ datos_envio.email }}</strong>
                <br>
                Deberás presentarlo al momento de retirar tus productos.
            </p>
            <div class="actions d-flex justify-content-between gap-3">
                <a href="#" onclick="cancelBuy()" class="btn btn-outline-danger">Cancelar compra</a>
                <a href="#" onclick="warningPay()" class="btn btn-outline-primary">Finalizar compra</a>
            </div>
        </div>
        {% else %}
            <p class="message">
                No tienes Datos de envío ni Método de envío <br><a href="{% url 'checkout' %}" class="btn btn-outline-primary"><span class="icon-arrow-left2"></span> Llenalos y estarás listo para comprar!</a>
            </p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function warningPay() {
            Swal.fire({
                title: 'Advertencia',
                text: "Antes de finalizar este proceso, debes guardar tu número de compra: {{ codigo_transaccion }}",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya lo Tengo',
                cancelButtonText: 'No lo tengo aún'
            }).then((result) => {
                if (result.value) {
                    window.location.href = '/productos/confirmar_pago/';
                }
            })
        }

        function cancelBuy() {
            Swal.fire({
                title: 'Advertencia',
                text: "Tendrás que volver a llenar tus datos de envío",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Está bién!',
                cancelButtonText: 'Mejor no'
            }).then((result) => {
                if (result.value) {
                    window.location.href = '/cart/';
                }
            })
        }
    </script>

{% endblock %}

{% block js %}

{% endblock %}
