{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Productos - CarneToday</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'productos/css/productos.css' %}">
{% endblock %}

{% block container %}
    <div class="container" style="min-height: 100vh">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="breadcrumb-item active">Productos</li>
            </ol>
        </nav>
        <div class="content pt-5">
            <sidebar class="sidebar">
                <h2 class="title">Categorias</h2>
                <section class="categories mt-3">
                    <form action="" method="get">
                        {% for category in categories %}
                            <div class="content mb-3 ps-3 d-flex justify-content-between">
                                <div class="field">
                                    {% if category_request %}
                                        {% if category_request == category.id %}
                                            <input type="radio" class="form-check-input" id="{{ category.id }}" name="category" value="{{ category.id }}" checked>
                                        {% else %}
                                            <input type="radio" class="form-check-input" id="{{ category.id }}" name="category" value="{{ category.id }}">
                                        {% endif %}
                                    {% else %}
                                        <input type="radio" class="form-check-input" value="{{ category.id }}" id="{{ category.id }}" name="category">
                                    {% endif %}
                                    <label for="{{ category.id }}">
                                        <a href="?category={{ category.id }}" class="text-reset text-decoration-none name">{{ category.nombre | capfirst }}</a>
                                    </label> <br>
                                </div>
                                <div class="number_of_prd_by_category">
                                    (<span class="number">{{ category.get_number_prd }}</span>)
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                    <hr>
                    {% if category_request %}
                        <a class="btn btn-outline-dark btn-sm my-2" href="{% url 'productos' %}"><span class="icon-arrow-left2"></span> Todos los productos</a>
                    {% endif %}
                </section>
            </sidebar>

            <section class="products p-5 bg-white">
                {% if result_category %}
                    <h3 class="title my-3">({{ result_category.count }}) Productos con categoria <span class="text-primary">{{ category | capfirst }}</span></h3>
                {% endif %}
                <div class="content-products d-grid gap-4">
                    {% if result_category %}
                        {% for producto in result_category %}
                            <div class="product-{{ producto.id }}">
                                <a href="{% url 'detail_producto' producto.id %}" class="text-decoration-none text-reset">
                                    <div class="card h-100 border-0">
                                        {% if producto.imagenes %}
                                            <figure class="card-img-top position-relative" style="background-image: url({{ producto.imagenes.first.imagen.url }})">
                                        {% endif %}
                                            <p class="legend position-absolute px-3 py-2 text-white fw-bold" style="background-color: #31b771; z-index: 9999">ENVÍO GRATIS</p>
                                            {% if producto.cantidad == 0 %}
                                                <p class="legend position-absolute px-5 py-2 text-white fw-bold" style="background-color: rgba(255, 255, 255, 0.5); z-index: 9999; top: 40%; left: 25%">AGOTADO</p>
                                            {% endif %}
                                        </figure>
                                        <div class="card-body">
                                            <h5 class="card-title title fw-bold fs-3">{{ producto.nombre }}</h5>
                                            <small class="text-muted">{{ producto.categoria.nombre | capfirst }}</small>
                                            <p class="card-text text">{{ producto.get_short_desc }}</p>
                                            <p class="number fw-bold">$ {{ producto.precio | intcomma }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for producto in entity %}
                            <div class="product-{{ producto.id }}">
                                <a href="{% url 'detail_producto' producto.id %}" class="text-decoration-none text-reset">
                                    <div class="card h-100 border-0">
                                        {% if producto.imagenes %}
                                            <figure class="card-img-top position-relative" style="background-image: url({{ producto.imagenes.first.imagen.url }})">
                                        {% endif %}
                                            <p class="legend position-absolute px-3 py-2 text-white fw-bold" style="background-color: #31b771; z-index: 9999;">ENVÍO GRATIS</p>
                                            {% if producto.cantidad == 0 %}
                                                <p class="legend position-absolute px-5 py-2 text-white fw-bold" style="background-color: rgba(255, 255, 255, 0.5); z-index: 9999; top: 40%; left: 25%">AGOTADO</p>
                                            {% endif %}
                                        </figure>
                                        <div class="card-body">
                                            <h5 class="card-title title fw-bold fs-3">{{ producto.nombre }}</h5>
                                            <small class="text-muted">{{ producto.categoria.nombre | capfirst }}</small>
                                            <p class="card-text text">{{ producto.get_short_desc }}</p>
                                            <p class="number fw-bold">$ {{ producto.precio | intcomma }}</p>
                                            {% if producto.recomendar %}
                                                <small class="d-inline-block w-100 text-muted text-center">Recomendado</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
        {% endif %}
                </div>
                <div class="paginator py-3">
                    {% include 'productos/paginator.html' %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
