.content-product {
    display: flex;
    gap: 3rem;
    padding: 3rem;
    background-color: #fff;
    margin-top: 3rem;
}

.content-product .img_product {
    flex: 1;
}

.content-product .img_product figure {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-product .product_info h1.title {
    font-size: 1.75rem;
}

.content-product .product_info .legend {
    align-items: baseline;
    flex-direction: column;
}

.content-product .product_info .legend .price {
    font-size: 1.625rem;
}

@media screen and (max-width: 1200px){
    .content-product {
        grid-template-columns: 1fr;
    }

    .content-product .img_product figure {
        height: 350px;
    }
}
