.content .who_we_are {
    margin: 5rem 0;
    padding-inline: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content .header .banner .banner-text h1,
.content .who_we_are .us .us_description h3,
.content .who_we_are .us-2 .us2-description h3 {
    font-size: 3.5rem;
}

.content .who_we_are .us,
.content .who_we_are .us-2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.content .who_we_are .us .us_description,
.content .who_we_are .us-2 .us2-description {
    padding: 10rem 5rem;
}

.content .who_we_are .us .us_description p,
.content .who_we_are .us-2 .us2-description p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.content .who_we_are .us .us_imagen,
.content .who_we_are .us-2 .us2_imagen {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content .follow_us {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 40vh;
    width: 100%;
}

.content .follow_us .content-follow-us {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-inline: 5rem;
    height: 101%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .follow_us .content-follow-us h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.content .follow_us .content-follow-us .socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.content .follow_us .content-follow-us .socials a span::before {
    color: #1b1b1b;
    font-size: 1.25rem;
    font-weight: bold;
}

.content .follow_us .content-follow-us .socials a:hover .icon-whatsapp::before {
    color: #37d673;
}

.content .follow_us .content-follow-us .socials a:hover .icon-instagram::before {
    color: #e4405f;
}

.content .follow_us .content-follow-us .socials a:hover .icon-facebook::before {
    color: #1877f2;
}

.content .follow_us .content-follow-us .socials a:hover .icon-gmail::before {
    color: #d14836;
}

@media screen and (max-width: 991px) {
    .content .who_we_are .us,
    .content .who_we_are .us-2 {
        grid-template-columns: 1fr;
        position: relative;
    }

    .content .who_we_are .us .us_imagen,
    .content .who_we_are .us-2 .us2_imagen {
        width: 100%;
        height: 480px;
    }

    .content .who_we_are .us .us_description,
    .content .who_we_are .us-2 .us2-description {
        position: absolute;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        color: #FFFFFF;
    }

    .content .follow_us {
        min-height: 20vh;
    }
}

@media screen and (max-width: 801px) {
    .content .header .banner .banner-text h1,
    .content .who_we_are .us .us_description h3 {
        font-size: 2.5rem;
    }

    .content .who_we_are .us .us_description {
        padding: 6rem 3rem;
    }

    .content .who_we_are .us .us_description p {
        font-size: 1rem;
        line-height: 1.2;
    }
}

@media screen and (max-width: 610px) {
    .content .who_we_are .us .us_imagen {
        display: none;
    }

    .content .header .banner .banner-text h1,
    .content .who_we_are .us .us_description h3 {
        font-size: 1.8rem;
    }

    .content .who_we_are .us .us_description {
        padding: 4rem 2rem;
    }

    .content .who_we_are {
        padding-inline: 2rem;
    }
}

@media screen and (max-width: 360px) {
    .content .header .banner .banner-text h1,
    .content .who_we_are .us .us_description h3 {
        font-size: 2.5rem;
    }
}
