.content .box_contact {
    margin: 5rem 0;
    padding-inline: 5rem;
}

.content .header .banner .banner-text h1,
.content .box_contact > h1 {
    font-size: 3.5rem;
}

.content .box_contact .content_contact {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding-inline: 1rem;
}

.content .box_contact .content_contact .contact_description {
    padding: 10rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr auto;
}

.content .box_contact .content_contact .contact_description p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-left: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.content .box_contact .content_contact .contact_description p:not(.text-muted)::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #000;
    bottom: 0;
    text-align: center;
}

.content .box_contact .content_contact .contact_description p:not(.text-muted):hover::after {
    width: 60%;
    transition: linear all 0.3s;
}

.content .box_contact .content_contact .contact_description p a.icon span {
    font-size: 3rem;
}

.content .box_contact .content_contact .contact_description p.ws,
.content .box_contact .content_contact .contact_description p.ig {
    grid-column: 1 / 2;
}

.content .box_contact .content_contact .contact_description p.gm,
.content .box_contact .content_contact .contact_description p.fc {
    grid-column: 2 / 3;
}

.content .box_contact .content_contact .contact_description div.map_container {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
}

.content .box_contact .content_contact .contact_description .text-muted {
    margin-left: 2rem !important;
    display: block;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.content .box_contact .content_contact .contact_description p a {
    text-decoration: none;
    color: inherit;
}

.content .box_contact .content_contact .form_contact {
    height: 100%;
    padding: 3rem 0;
}

.content .box_contact .content_contact .form_contact form > div {
    margin-bottom: 1rem;
}

.content .box_contact .content_contact .form_contact form > div label {
    font-family: 'Open Sans', sans-serif;
}

.content .box_contact .content_contact .form_contact form > div > div input {
    font-family: 'Roboto', sans-serif;
}

.icon-telegram::before {
    color: #0088cc;
}

@media screen and (max-width: 1253px) {
    .content .box_contact .content_contact {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .content .box_contact .content_contact .contact_description {
        padding: 3rem 0;
    }

    .content .box_contact .content_contact .form_contact {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 936px) {
    .content .header .banner .banner-text h1,
    .content .box_contact .content_contact .contact_description h3,
    .content .box_contact .content_contact .form_contact h3 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 666px) {
    .content .box_contact .content_contact .form_contact form .actions {
        flex-direction: column;
    }
}

@media screen and (max-width: 591px) {
    .content .box_contact {
        padding-inline: 0;
    }

    .content .header .banner .banner-text h1,
    .content .box_contact .content_contact .contact_description h3,
    .content .box_contact .content_contact .form_contact h3 {
        font-size: 1.5rem;
    }

    .content .box_contact .content_contact div.form_contact .text-muted,
    .content .box_contact .content_contact div.form_contact form {
        margin-left: 1rem !important;
    }

    .content .box_contact .content_contact .contact_description .text-muted,
    .content .box_contact .content_contact .contact_description p,
    .content .box_contact .content_contact .form_contact form div input,
    .content .box_contact .content_contact .form_contact form div label,
    .content .box_contact .content_contact .form_contact form .actions button {
        font-size: 0.8rem !important;
    }
}
